@font-face {
    font-family: Creasy;
    src: url(FONTS/Creasy.ttf);
}

@font-face {
    font-family: Creasy2;
    src: url(FONTS/Creasy2.ttf);
}

@font-face {
    font-family: Klarissa;
    src: url(FONTS/Klarissa.ttf);
}

@font-face {
    font-family: CAT;
    src: url(FONTS/CAT.ttf);
}

@font-face {
    font-family: soria;
    src: url(FONTS/soria-font.ttf);
}

@font-face {
    font-family: amarante;
    src: url(FONTS/Amarante-Regular.ttf);
}

@font-face {
    font-family: londonfill;
    src: url(FONTS/LondonFill.ttf);
}

@font-face {
    font-family: pitch;
    src: url(FONTS/Pitch\ Display\ Regular\ Demo.ttf);
}

@font-face {
    font-family: ground;
    src: url(FONTS/groundvillageregular-xgzvz.ttf);
}

@font-face {
    font-family: leky;
    src: url(FONTS/Leky\ Calgria.otf);
}

@font-face {
    font-family: desis;
    src: url(FONTS/Desislava-PersonalUse.otf);
}

@font-face {
    font-family: dolce;
    src: url(FONTS/Dolce\ Gargia.otf);
}

@font-face {
    font-family: dave;
    src: url(FONTS/daveaulightitalic-1.ttf);
}

@font-face {
    font-family: gunsan;
    src: url(FONTS/Gunsan.ttf);
}
